<%= render template: 'layouts/header'%>

<div class = main>

  <h2>
    Restaurant List
  </h2>
  
  <ul>
    <% i = 0 %>
    <% @restaurants.each do |r| %>
    
    <li>
      <%= link_to r.r_name, restaurant_path(r) %>
      <%= r.address %>
      <%= r.genre %>
      <%= @percentage[i]%>
    </li>

    <%= @wariai[i] %>
    <% i += 1 %>
    <% end %>
  </ul>

</div>