<h2><%= @restaurant.r_name %></h2>
<ul>
  <li>
    <%= @restaurant.address %>
  </li>
  <li>
    <%= @restaurant.genre %>
  </li>
</ul>

<h3>メニュー</h3>
<% if @restaurant.menus.any? %>
  <ul>
    <% @restaurant.menus.each do |menu| %>
    <li>
      <%= menu.m_name %>
      <%= menu.price %>
      <%= menu.allergy %>
    </li>
    <% end %>
  </ul>
<% end %>
