<h2><%= @restaurant.r_name %></h2>
<ul>
  <li>
    <%= @restaurant.address %>
  </li>
  <li>
    <%= @restaurant.genre %>
  </li>
</ul>

<h3>メニュー</h3>

<% @restaurant.menus.each do |menu| %>

  <% flag = false %>
  <% r_all = menu.allergy.split(",") %>
  <% u_all = @allergy %>

  <% r_all.each do |r| %>
    <% u_all.each do |u| %>
      <% if r == u %>
        <li>
          <span style="background-color:red">
            <%= menu.m_name %>
          </span>
            <%= menu.allergy %>
            <%= menu.price %>

            <% flag = true %>
        </li>
      <% end %>
    <% end %>
  <% end %>
  <% if flag == false %>
    <li>
      <%= menu.m_name %>
      <%= menu.allergy %>
      <%= menu.price %>
    </li>
  <% end %>
<% end %>
