<h2>ログイン</h2>

<%= form_tag(controller: "login", action:"index") do %>

  <p>お名前</p>
  <%= text_field_tag("inputName") %>
  <br>
  <p>パスワード</p>
  <%= password_field_tag("inputPassword") %>
  <br>
  <%= submit_tag("Login")%>

<%= link_to '新規登録', user_registration_path %>
<% end %>
<%= @msg %>
