<h1><%= @title %></h1>

<%= form_tag(controller: "user_registration", action:"index" ) do %>
    <br>
    <%= label_tag("Nametext", "お名前")  %>
    <%= text_field_tag("inputName") %>
    <br>

    <br>
    <%= label_tag("PassWardtext", "パスワード")  %>
    <%= password_field_tag("inputPassward") %>
    <br>

    <br>


    <br>
    <%= label_tag("labelSex", "性別")  %>
    <%= select_tag("old", options_for_select(['男性','女性','その他'])) %>

    <%= label_tag("labelOld", "年齢")  %>
    <%= select_tag("old", options_for_select(['10代未満', '10代', '20代','30代', '40代','50代', '60代','70代以上'])) %>
    <br>

    <%= label_tag("labelAllergy", "アレルギー")  %>
    <ul style="list-style-type:none;">
    <li><%= check_box "Allergylist", "卵" %>卵</li>
    <li><%= check_box "Allergylist", "小麦" %>小麦</li>
    <li><%= check_box "Allergylist", "乳" %>乳</li>
    <li><%= check_box "Allergylist", "かに" %>かに</li>
    <li><%= check_box "Allergylist", "えび" %>えび</li>
    <li><%= check_box "Allergylist", "そば" %>そば</li>
    <li><%= check_box "Allergylist", "落花生" %>落花生</li>

  </ul>

  <%= submit_tag("Click")%>
  <%= link_to 'ログインページへ', login_index_path %>

  <p><%= @name %></p>
  <p><%= @passward %></p>
  <p><%= @gender %></p>
  <p><%= @old %></p>
  <p><%= @allergy %></p>


<% end %>
